<%- include('../partials/header') %>

<body>
    <h1>Edit Skill Here</h1>

    <form action="/skills/:id?_method=PUT" method="POST">
        <br><br>
        <h3>Language/Framework</h3>
        <input name="skillChange">
        <br><br>
        <h3>Experience</h3>
        <input name="experienceChange">
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>

<%- include('../partials/footer') %>